{% extends "base.html" %}


{% block content %}
<h2>Transfer</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>From Account</label>
        <select name="from_account" class="form-select">
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.account_number }} - {{ account.balance }} {{ account.currency }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>To Account</label>
        <select name="to_account" class="form-select">
            {% for account in all_accounts %}
            <option value="{{ account.id }}">{{ account.account_number }} - {{ account.user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Amount</label>
        <input type="number" step="0.01" name="amount" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Transfer</button>
</form>
{% endblock %}